html, body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: futura-pt, sans-serif;
  color: #330033;
}

a {
  color: #330033;
}

.navbar-bg {
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #ccc;
}

.navbar-menu {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0;
  align-items: center;
  text-transform: uppercase;
}
@media screen and (min-width: 992px) and (max-width: 1823.98px) {
  .navbar-menu {
    font-size: 0.88rem;
  }
}
@media screen and (min-width: 1824px) {
  .navbar-menu {
    font-size: 1.04rem;
  }
}

.navbar-toggler:before {
  content: "";
  display: none;
}

.item-nav {
  margin: 0 1em;
  letter-spacing: 0.2em;
}

.link-nav {
  color: #330033;
  transition: 0.5s;
}
.link-nav:hover {
  text-decoration: none;
  color: #DA1C5C;
}

.highlight-item {
  background-color: #E8DCE4;
  border-radius: 50px;
  padding: 0.3em 0.9em;
  box-sizing: border-box;
  letter-spacing: 0.2em;
}

.nav-icon {
  font-size: 0.8rem;
}
@media screen and (min-width: 992px) and (max-width: 1823.98px) {
  .nav-icon {
    font-size: 1.04rem;
  }
}
@media screen and (min-width: 1824px) {
  .nav-icon {
    font-size: 1.04rem;
  }
}

@media screen and (max-width: 1400px) {
  .d-none-new {
    display: none;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.main-title {
  font-size: 3rem;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 1000;
}
@media screen and (min-width: 1824px) {
  .main-title {
    font-size: 4.2rem;
  }
}

.section-title {
  font-size: 2rem;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 1824px) {
  .section-title {
    font-size: 2.8rem;
  }
}

.section-sub {
  display: block;
  font-size: 1.2rem;
}
@media screen and (min-width: 1824px) {
  .section-sub {
    font-size: 2rem;
  }
}

.section-gray {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  background-color: #F5F5F5;
}

.section-p {
  font-size: 1.2rem;
}
@media screen and (min-width: 992px) and (max-width: 1823.98px) {
  .section-p {
    font-size: 1.32rem;
  }
}
@media screen and (min-width: 1824px) {
  .section-p {
    font-size: 1.68rem;
  }
}

.product-img {
  width: 7rem;
}
@media screen and (min-width: 992px) and (max-width: 1823.98px) {
  .product-img {
    width: 8rem;
  }
}
@media screen and (min-width: 1824px) {
  .product-img {
    width: 10rem;
  }
}

.item-img {
  width: 6rem;
}
@media screen and (min-width: 992px) and (max-width: 1823.98px) {
  .item-img {
    width: 7rem;
  }
}
@media screen and (min-width: 1824px) {
  .item-img {
    width: 8rem;
  }
}

.section-box {
  text-align: left;
  margin: 0.3em;
  width: 80%;
}

.item-title {
  font-size: 1.2rem;
  letter-spacing: 0.2em;
  font-weight: 500;
  text-transform: uppercase;
}

.menu-sub {
  font-size: 0.64rem;
  text-transform: uppercase;
  color: #DA1C5C;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .menu-sub {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1823.98px) {
  .menu-sub {
    font-size: 0.96rem;
  }
}
@media screen and (min-width: 1824px) {
  .menu-sub {
    font-size: 0.96rem;
  }
}

.topping-title {
  font-size: 0.96rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 992px) and (max-width: 1823.98px) {
  .topping-title {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1824px) {
  .topping-title {
    font-size: 1.2rem;
  }
}

.carousel-img {
  max-width: 80%;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .carousel-img {
    max-width: 35%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1823.98px) {
  .carousel-img {
    max-width: 45%;
  }
}
@media screen and (min-width: 1824px) {
  .carousel-img {
    max-width: 60%;
  }
}

.carousel-img__main {
  max-width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .carousel-img__main {
    max-width: 80%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1823.98px) {
  .carousel-img__main {
    max-width: 75%;
  }
}
@media screen and (min-width: 1824px) {
  .carousel-img__main {
    max-width: 90%;
  }
}

.form-title {
  font-size: 1.6rem;
  letter-spacing: 0.2em;
  display: block;
}

.contact-form {
  border-bottom: 1px solid #330033;
}
.contact-form > input {
  border: none;
  outline: 0;
}
.contact-form > input:focus {
  outline: 0;
}
.contact-form > input::placeholder {
  color: #330033;
}

.div-loja {
  background: url("../../images/loja.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-indicators li {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  border: 2px inset #330033;
  box-shadow: 0px 0px 3px white;
  background-color: rgba(255, 255, 255, 0.8);
  color: white;
  opacity: 0.6;
}
.carousel-indicators .active {
  background-color: rgba(255, 255, 255, 0);
}

.pos {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-purple {
  background-color: #E8DCE4;
  font-size: 0.8rem;
}
.footer-purple a:hover {
  text-decoration: none;
  color: #DA1C5C;
}
@media screen and (min-width: 1824px) {
  .footer-purple {
    font-size: 0.96rem;
  }
}

.footer-menu {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 992px) and (max-width: 1823.98px) {
  .footer-menu {
    text-align: left;
  }
}
@media screen and (min-width: 1824px) {
  .footer-menu {
    text-align: left;
  }
}

.footer-tape {
  background-color: #330033;
}

.tape-text {
  word-wrap: break-word;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.2em;
  font-size: 0.8rem;
}
.tape-text > a {
  color: white;
}
@media screen and (min-width: 1824px) {
  .tape-text {
    font-size: 0.96rem;
  }
}

.modal {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0;
}

.modal-content {
  background-color: #E8DCE4;
  border: 0;
  padding: 0 2em;
}

.modal-header {
  border-bottom: 1px solid #330033;
}

.modal-title {
  text-transform: uppercase;
}

.modal-info {
  font-size: 1.2em;
}

.modal-button {
  font-size: 2em;
  color: #330033;
  position: relative;
  left: 65%;
}
@media screen and (max-width: 575.98px) {
  .modal-button {
    display: none;
  }
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .modal-button {
    display: none;
  }
}

.modal-menu > li {
  display: flex;
  justify-content: space-between;
  padding: 0.3em;
  border-bottom: 1px solid rgba(51, 0, 51, 0.5);
}

.modal-mapa {
  width: 100%;
  padding: 0;
}

.mapa {
  height: 30em;
}
@media screen and (min-width: 1824px) {
  .mapa {
    height: 90vh;
  }
}

/*# sourceMappingURL=purpleberry.css.map */
